/*----------------------------------------------*/
/*                   GÉNÉRAL                    */
/*----------------------------------------------*/

a {
text-decoration: none;
}

a, a:hover {
color: #000;
}

h1 {
text-align: center;
text-transform: uppercase;
margin-bottom: 3rem;
}

aside {
    position: fixed;
    top: 20%;
    left: 50px;
}


/*----------------------------------------------*/
/*             (Admin) Header                   */
/*----------------------------------------------*/

header.admin {
    margin-bottom: 2rem;
}

header.admin > div {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

header.admin nav {
    flex-direction: row;
    justify-content: center;
}
header.admin nav a {
    margin: 0 1rem;
}


/*----------------------------------------------*/
/*             (Admin) PRODUCTS                 */
/*----------------------------------------------*/

/*                Index+Create                  */

aside .alert {
    max-width: 15rem;
}


/*                  Create                      */

.productCreate form #price, .productCreate form #weight, .productCreate form #stock {
width: 15%;
}

.productCreate form #name {
width: 35%;
}



/*----------------------------------------------*/
/*             (Front) PRODUCTS                 */
/*----------------------------------------------*/

/*                  Index+Show                  */

article img {
    width: 100%;
}

article {
    margin-bottom: 1rem;
}

/*                  Index                       */

.productIndex article .description {
max-height: 100px;
overflow: auto;
}

p.addToBasket {
text-align: right;
}


.productIndex button[type="submit"] {
    padding: 1rem;
    font-size: 1.5rem;
}


/*                  Show                       */

.productShow article .description {
    max-height: 300px;
    overflow: auto;
}


/*----------------------------------------------*/
/*                      CART                    */
/*----------------------------------------------*/

/*              FLEX DECLARATIONS               */

.cartNav, .cartProductList, .cartFooter {
    display: flex;
    flex-direction: row;
}

.cartProductList .cartProduct, .cartProductList .cartAvail, .cartProductList .cartPrice, .cartProductList .cartQty, .cartProductList .cartDelete, .cartProductList .cartTotal {
    /* all cartProductList elements but cartDesc */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cartNav h3, .cartFooter div {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*                  ELSE                  */

.adminWelcome nav {
    flex-direction: row;
    justify-content: center;
}

.adminWelcome nav p {
    margin: 0 1rem;
}

.cartNav h3 {
    padding: 1rem;
}

.cartNav h3.selected {
    background-color: #000000;
    color:white;
}

.cartBody {
    width: 100%;
    border: 1px solid #000000;
    padding: 1rem;
}

.cartProduct, .cartPrice, .cartQty, .cartAvail, .cartDelete, .cartTotal {
    width: 10%;
}

.cartDelete {
    width: 5%;
}

.cartDesc {
    width: 45%;
}

.cartProductList .cartProduct, .cartProductList .cartDesc, .cartProductList .cartAvail, .cartProductList .cartPrice, .cartProductList .cartQty, .cartProductList .cartDelete, .cartProductList .cartTotal {
    /* all cartBody elements */
    padding: 0.5rem;
}

.cartNav .cartProduct, .cartNav .cartAvail, .cartNav .cartPrice, .cartNav .cartQty, .cartNav .cartDelete, .cartNav .cartTotal {
    /* cartBody columns titles (all but cartDesc) */
    text-align: center;
}

.cartProduct img {
    width: 100%;
}

.cartDesc h4, .cartDesc p {
    margin: 0;
}

div.available i.available {
    color: #2d995b;
}

div.notavailable i.notavailable {
    color: #761b18;
}

div.available i.notavailable {
    display: none;
}

div.notavailable i.available {
    display: none;
}

.cartValidation {
    text-align: right;
    margin-top: 1rem;
}

.cartValidation div {
    padding: 0.2rem;
}

.cartValidation button[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
}

.cartFooter {
    margin-bottom: 2rem;
}