/******************************************************************
    My Account
******************************************************************/
.my-data .view-data{
    margin-bottom: 100px;
    display: flex;
}

.my-data .view-data .view-civilite{
    width: 48%;
    margin-right: 2%;
}

.my-data .view-data .view-login{
    width: 48%;
}

.my-data .view-data .view-civilite p{
    margin-bottom: 20px;
}

.my-data .payment{
    display: flex;
    margin-bottom: 100px;
}

.my-data .view-payment{
    width: 48%;
    margin-right: 2%;
}

.my-data .add-payment{
    width: 48%;
}

.my-data .add-payment form{
    width: 100%;
}

.my-data .add-payment .num-and-owner{
    display: flex;
    margin-bottom: 20px;

}

.my-data .add-payment .num-and-owner .num-cart{
    width: 48%;
    margin-right: 2%;
}

.my-data .add-payment .num-and-owner .num-cart label{
    display: block;
    margin-bottom: 5px;
}

.my-data .add-payment .num-and-owner .num-cart input{
    width: 100%;
    padding: 10px;
    background: #313238;
    border:none;
    color:#fff;
}

.my-data .add-payment .num-and-owner .owner-cart{
    width: 48%;
}

.my-data .add-payment .num-and-owner .owner-cart label{
    display: block;
    margin-bottom: 5px;
}

.my-data .add-payment .num-and-owner .owner-cart input{
    width: 100%;
    padding: 10px;
    background: #313238;
    border:none;
    color:#fff;
}

.my-data .add-payment .expiration-and-security{
    display: flex;
    margin-bottom: 50px;

}

.my-data .add-payment .expiration-and-security .month-cart{
    width: 32%;
    margin-right: 2%;
}

.my-data .add-payment .expiration-and-security .month-cart label{
    display: block;
    margin-bottom: 5px;
}

.my-data .add-payment .expiration-and-security .month-cart input{
    width: 100%;
    padding: 10px;
    background: #313238;
    border:none;
    color:#fff;
}

.my-data .add-payment .expiration-and-security .year-cart{
    width: 32%;
    margin-right: 2%;
}

.my-data .add-payment .expiration-and-security .year-cart label{
    display: block;
    margin-bottom: 5px;
}

.my-data .add-payment .expiration-and-security .year-cart input{
    width: 100%;
    padding: 10px;
    background: #313238;
    border:none;
    color:#fff;
}


.my-data .add-payment .expiration-and-security .security-cart{
    width: 32%;
    margin-right: 2%;
}

.my-data .add-payment .expiration-and-security .security-cart label{
    display: block;
    margin-bottom: 5px;
}

.my-data .add-payment .expiration-and-security .security-cart input{
    width: 100%;
    padding: 10px;
    background: #313238;
    border:none;
    color:#fff;
}

.my-data .add-payment .btn{
    margin: auto
}

.my-data .orders .recent-orders{
    display: flex;
    margin-bottom: 50px;
}


.my-data .orders .recent-orders .orders-img{
    width: 31%;
    margin-right: 2%;
}

.my-data .orders .recent-orders .orders-ref{
    width: 31%;
    margin-right: 2%;
}

.my-data .orders .recent-orders .orders-product-desc{
    width: 31%;
}

.my-data .orders .recent-orders .orders-tota{
    width: 31%;
}

.my-data .orders .all-orders{
    display: flex;
}

.my-data .orders .all-orders .orders-ref{
    width: 31%;
    margin-right: 2%;
}

.my-data .orders .all-orders .orders-product-desc{
    width: 31%;
    margin-right: 2%;
}

.my-data .orders .all-orders .orders-price{
    width: 31%;
}

.my-data .orders .return-product{
    margin-bottom: 100px;

}